html{
    scroll-behavior:smooth;
    scroll-padding-top: 65px;
}

.cardcategory{
    transition: all 0.3s linear;
}
.cardcategory:hover {
    transform: scale(1.048);
    transition: all 0.3s ease-in-out;
  }

  .items li {
    position: relative;
    padding: 0;
}

.items li a::after {
    content: "";
    height: 2px;
    width: 100%;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.25s ease;
}

.items li a:hover::after {
    transform-origin: bottom left;
    transform: scaleX(1);
}

.producs{
    transition: all 0.3s linear;
}
.producs:hover {
    transform: scale(1.048);
    transition: all 0.5s ease-in-out;
  }

  .eginfo img:hover {
    transform: scale(1.048);
    transition: all 0.3s ease-in-out;
  }

  .infolog a:hover{
    transition: all 0.3s ease-in;
    color: #000000;
    background: #8d8d8d;
    border: none;
    transform: scale(1.1);
  }

  .hero-info a:hover{
    transition: all 0.3s ease-in;
    color: #000000;
    background: #8d8d8d;
    border: none;
    transform: scale(1.1);
  }


  .buttoncard:hover {
    transition: all 0.3s ease-in;
    color: #000000;
    background: #8d8d8d;
    border: none;
    transform: scale(1.1);
}


.btnform:hover{
  transition: all 0.3s ease-in;
  color: #000000;
  background: #8d8d8d;
  border: none;
  transform: scale(1.1);
}
.botonformu:hover {
  transition: all 0.3s ease-in;
  color: #000000;
  background:#8d8d8d;
  border: none;
  transform: scale(1.1);
}

.overlay{
  position: absolute;
  top: 65px;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 1;
 
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  display: none;

}

#carttoggle:checked + .cart{
  display: flex;
}
@keyframes slide-top {
    from {
      transform: translateY(-370px);
    }
    to {
      transform: translateY(0);
    }
}

#hero{
    animation: slide-top 1.4s ease-in-out;
}

