html{
    scroll-behavior:smooth;
    scroll-padding-top: 65px;
}

.cardcategory{
    transition: all 0.3s linear;
}
.cardcategory:hover {
    transform: scale(1.048);
    transition: all 0.3s ease-in-out;
  }

  .items li {
    position: relative;
    padding: 0;
}

.items li a::after {
    content: "";
    height: 2px;
    width: 100%;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.25s ease;
}

.items li a:hover::after {
    transform-origin: bottom left;
    transform: scaleX(1);
}

.producs img{
    transition: all 0.3s linear;
}
.producs img:hover {
    transform: scale(1.048);
    transition: all 0.5s ease-in-out;
  }

  .eginfo img:hover {
    transform: scale(1.048);
    transition: all 0.3s ease-in-out;
  }

  .infolog a:hover{
    transition: all 0.3s ease-in;
    color: #000000;
    background: #8d8d8d;
    border: none;
    transform: scale(1.1);
  }

  .hero-info a:hover{
    transition: all 0.3s ease-in;
    color: #000000;
    background: #8d8d8d;
    border: none;
    transform: scale(1.1);
  }


  .buttoncard:hover {
    transition: all 0.3s ease-in;
    color: #000000;
    background: #8d8d8d;
    border: none;
    transform: scale(1.1);
}


.btnform:hover{
  transition: all 0.3s ease-in;
  color: #000000;
  background: #8d8d8d;
  border: none;
  transform: scale(1.1);
}
.botonformu:hover {
  transition: all 0.3s ease-in;
  color: #000000;
  background:#8d8d8d;
  border: none;
  transform: scale(1.1);
}

.btn-add:hover{
  transition: all 0.3s ease-in;
  color: #000000;
  background:#8d8d8d;
  border: none;
  transform: scale(1.1);
}
.overlay{
  position: absolute;
  top: 100px;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 1;
  background: rgba(102, 102, 102, 0.05);
  box-shadow:linear-gradient(to right, #d31027, #ea384d);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  display: none;

}

#carttoggle:checked + .cart{
  display: flex;
}
@keyframes slide-top {
    from {
      transform: translateY(-370px);
    }
    to {
      transform: translateY(0);
    }
}

#hero{
    animation: slide-top 1.4s ease-in-out;
}



#carttoggle:checked ~ .overlay {
  display: block;
}

#menu-toggle:checked ~ .overlay {
  display: block;
}




@keyframes fade {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@keyframes slide-up {
  from {
      transform: translateY(100px);
  } to {
      transform: translateY(0);
  }
}

@keyframes slide-right {
  from {
      transform: translateX(100px);
  } to {
      transform: translateX(0);
  }
}